.layout {
  max-width: 400px;
  width: 100%;
  background: #c5c6c750;
  display: flex;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
