.layout {
  max-width: 400px;
  width: 100%;
  background: #c5c6c750;
  display: flex;
  justify-content: end;
  border-radius: 20px;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}
